* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    text-align: center;
    color: white;
    background: blue;
}

.row {
    margin: 12px 6px 0 6px;
}

h1, h2 {
    font-weight: bold;
    width: auto;
}

button {
    width: 85%;
    margin-top: 10px;
}

#current-weather {
    border: 2px solid black;
}

#weekly-weather {
    float: left;
}