* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    text-align: center;
    color: white;
    background: linear-gradient(to right, blue, rgb(8,6,74));
}

p {
    margin:0;
    padding:0;
    font-size:16px;
}

.row {
    margin: 12px 6px 0 6px;
}

h1, h2, h3 {
    font-weight: bold;
    width: 100%;
}

input#myInput {
    width: 60%;
    height: 25%;
}

button {
    width: 60%;
    height: 25%;
    margin-top: 10px;
}

#current-weather {
    border: 1px solid black;
    visibility: hidden;
}

#current-weather2 {
    visibility: visible;
}

#weekly-weather {
    display: flex; 
    justify-content: space-evenly;
    padding: 2px;
}

.weatherBox {
    color: white;
    border: 2px solid black;
    background-color: rgb(55, 58, 73);
    padding: 10px;
    width: 100%;
}

#pBox {
    padding: 5px;
}