* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    text-align: center;
    color: white;
    background: linear-gradient(to right, blue, rgb(8,6,74));
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}

body {
    background-color: rgba(147, 147, 206, 0.103);
}

p {
    margin:0;
    padding:0;
    font-size:16px;
}

.row {
    margin: 12px 6px 0 6px;
}

div#search-container.col-md-3 {
    text-align: center;
}

h1, h2, h3 {
    font-weight: bold;
    width: 100%;
}

input#myInput {
    width: 200px;
    height: 40px;
}

button {
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

button#searchButton {
    margin-bottom: 25px;
}

hr.rounded {
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
}

#current-weather {
    border: 1px solid black;
    visibility: hidden;
    background-color: white;
}

#current-weather2 {
    visibility: visible;
}

#weekly-weather {
    display: flex; 
    justify-content: space-evenly;
    padding: 2px;
}

.weatherBox {
    color: white;
    border: 2px solid black;
    background-color: rgb(59, 64, 87);
    padding: 10px;
    width: 100%;
    margin-right: 5px;
    border-radius: 8px;
}

p.label {
    border: 1px solid black;
    padding: 2px;
    color: white;
    text-shadow: 2px 2px black;
    background: linear-gradient(to right, blue, rgb(8,6,74));
    width: 125px;
    box-shadow: 2px 2px 1px black;
    border-radius: 8px;
    margin-bottom: 3px;
}

#pBox {
    padding: 5px;
}

h2#city-name {
    border-bottom: 1px solid black;
}

p#current-temp {
    margin-left: 20px;
}

p#current-wind {
    margin-left: 20px;
}

p#current-humidity {
    margin-left: 20px;
}

p#current-uvi {
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 1px black, -0.5px -0.5px 1px black, 0.5px -0.5px 1px black, -0.5px 0.5px 1px black;
    width: 50px;
    box-shadow: 2px 2px 1px black;
    border-radius: 8px;
    margin-left: 14px;
}

div#current-weather.col-md-9 {
    padding: 5px;
    box-shadow: 0px 0px 5px black;
    border-radius: 8px;
}

h2#city-name {
    text-shadow: 
    1px 1px 2px rgba(255, 255, 0, 0.363),
    3px 3px 1px rgba(50, 50, 255, 0.205);
}
